/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-color: var(--main-background-color);
  background-image: url(/images/cover-image-dark.png);
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
  background-attachment: fixed;
}

.header {
  min-block-size: 668px;
  position: relative;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(355px, 1fr);
  grid-template-rows: minmax(228px, 0.92fr) minmax(247px, 1fr) min-content;
  grid-template-areas: 
  "menu menu"
  "title title"
  ". description";
  padding: 10px;
}

.header::before {
  content: "";
  position: absolute;
  inset-block-start: 10px;
  inset-inline-end: 10px;
  width: 25px;
  height: 25px;
  border-top: 1px solid #FF0070;
  border-right: 1px solid #FF0070;
}

.header::after {
  content: "";
  position: absolute;
  inset-block-end: 10px;
  inset-inline-start: 10px;
  width: 25px;
  height: 25px;
  border-left: 1px solid #FF0070;
  border-bottom: 1px solid #FF0070;
}

.header__decoration {
  position: absolute;
  inset-block-start: 10px;
  inset-inline-end: 38px;
  color: #FF0070;
  text-align: center;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px; /* 138.889% */
}

.header__decoration:after {
  content: "";
  position: absolute;
  inset-block-start: 8px;
  inset-inline-end: -19px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px #FF0070;
  background-color: #FF0070;
  border-right: 1px solid #FF0070; 
}

.header__theme-menu {
  grid-area: menu;
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.header__theme-menu-button {
  inline-size: 70px;
  block-size: 26px;
  border: none;
  color: #FF0070;
  text-align: center;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px; /* 100% */
}

.header__theme-menu-button:active {
  border: 1px solid #FF0070;
}

.header__title {
  grid-area: title;
  color: #DB00FF;
  text-shadow: 4px 4px 0px var(--accent-color);
  font-family: IBM Plex Mono;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 82.5%;
}

.title-decor {
  background-color: var(--accent-background-color);
  color: #000028;
  font-family: IBM Plex Mono;
  font-size: 18px;
  line-height: 130%;
}

.subtitle {
  grid-area: description;
  color: #000028;
  font-weight: 700;
}

.header > .subtitle {
  margin-block-end: 56px;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 40px 10px;
  gap: 50px;
}

.content__section-title {
  color: #FF0070;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-weight: 700;
  line-height: 130%;
  margin-block-end: 20px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content__text {
  color: #F1B2CE;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-weight: 400;
  line-height: 130%;
  margin-block-start: 10px;
}

.content__images-mosaic {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content__image {
  block-size: 100%;
  inline-size: 100%;
  object-fit: contain;
  object-position: center;
}

.content__item-title {
  color: #000028;
  font-weight: 400;
}

.footer {
  min-block-size: 668px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer::before {
  content: "";
  position: absolute;
  inset-block-start: 10px;
  inset-inline-end: 10px;
  width: 25px;
  height: 25px;
  border-top: 1px solid #FF0070;
  border-right: 1px solid #FF0070;
}

.footer::after {
  content: "";
  position: absolute;
  inset-block-end: 10px;
  inset-inline-start: 10px;
  width: 25px;
  height: 25px;
  border-left: 1px solid #FF0070;
  border-bottom: 1px solid #FF0070;
}


.footer__title {
  color: #DB00FF;
  text-shadow: 2px 2px 0px var(--accent-color);
  font-family: IBM Plex Mono;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 82.5%;
}