/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-color: var(--basic-background-color);
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.header {
  min-block-size: 668px;
  block-size: 100vh;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(355px, 1fr);
  grid-template-rows: 1fr min-content 1fr;
  grid-template-areas: 
  "menu menu"
  "title title"
  ". description";
  padding: var(--mob10px-to-tab20px);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  inset-block-start: var(--mob10px-to-tab20px);
  inset-inline-end: var(--mob10px-to-tab20px);
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inset-block-end: var(--mob10px-to-tab20px);
  inset-inline-start: var(--mob10px-to-tab20px);
  width: 25px;
  height: 25px;
  border-left: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
}

.header__decoration {
  display: var(--display-header-decoration);
  position: absolute;
  inset-block-start: var(--mob10px-to-tab20px);
  inset-inline-end: calc(28px + var(--mob10px-to-tab20px));
  color: var(--accent-color);
  text-align: center;
  text-transform: uppercase;
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px; /* 138.889% */
}

.header__decoration::after {
  content: "";
  position: absolute;
  inset-block-start: 8px;
  inset-inline-end: -19px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  border-right: 1px solid var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color);
}

.header__theme-menu {
  grid-area: menu;
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.header__theme-menu-button {
  inline-size: 70px;
  min-block-size: 26px;
  background-color: transparent;
  border: none;
  color: var(--accent-color);
  display: flex; /* для выравнивания текста к по высоте */
  justify-content: center;
  text-transform: lowercase;
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 18px;
  line-height: 100%;
}

.header__theme-menu-button:hover {
  border: 1px solid --hover-frame-color;
}

.header__theme-menu-button:focus {
  outline: none;  
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--accent-color);
  margin-block-end: -1px;
}

.header__theme-menu-button:active {
  border: 1px solid var(--accent-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
  pointer-events: none;
}

.header__title {
  grid-area: title;
  color: var(--title-color);
  text-shadow: 4px 4px 0px var(--accent-background-and-shadow-color);
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: var(--title-size);
  font-weight: 700;
  line-height: 82.5%;
}

.title-decor {
  background-color: var(--accent-background-and-shadow-color);
  color: var(--text-color-for-accent-background);
}

.subtitle {
  grid-area: description;
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 130%;
  align-self: center;
}

.content {
  display: flex;
  flex-direction: column;
  padding: var(--mob40px-to-tab60px) var(--mob10px-to-tab20px);
  gap: var(--mob50px-to-tab80px);
}

.content__section-title {
  color: var(--accent-color);
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 130%;
  margin-block-end: 20px;
}

.content__section-container,
.content__list {
  display: flex;
  flex-direction: column;
  gap: var(--desktop-gap);
}

.content__text {
  color: var(--text-color);
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 18px;
  line-height: 130%;
  margin-block-start: 10px;
}

.link {
  text-shadow: 2px 2px 0 var(--accent-background-and-shadow-color);
  text-decoration: none;
}

.link:hover {
  border-bottom: 1px solid var(--text-color);
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid var(--text-color);
}

.content__images-mosaic {
  display: flex;
  flex-direction: column;
  gap: var(--mob10px-to-tab20px)
}

.content .subtitle {
  align-self: auto;
}

.content__image {
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
}

.content__item-title {
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 18px;
  line-height: 130%;
}

.footer {
  min-block-size: 668px;
  block-size: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__title {
  color: var(--title-color);
  text-shadow: 2px 2px 0px var(--accent-background-and-shadow-color);
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: var(--title-size);
  font-weight: 700;
  line-height: 82.5%;
}

@media (min-width: 768px) {
  .header__title,
  .footer__title {
    --title-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__title {
    margin-inline-start: -20px;
  }

  .content {
    gap: 80px;
  }

  .content__section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: var(--desktop-gap);
  }

  .content__section_type_1 {
    grid-template-areas:
    "content-title content";
  }

  .content__section_type_2 {
    grid-template-rows: repeat(2, min-content);
    grid-template-areas:
    "content-title ."
    "content content";
  }

  .content__section-title {
    grid-area: content-title;
  }

  .content__section_type_1 > .content__section-title {
    margin-block-end: 0;
  }

  .content__section-container {
    grid-area: content;
  }
  
  .content__images-mosaic {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, min-content);
    gap: var(--desktop-gap);
  }
  
  .content__images-mosaic > .subtitle {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }

  .content__image_1 {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  .content__image_2 {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
  }

  .content__image_3 {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
  }

  .content__image_4 {
    grid-column: 2 / 3;
    grid-row: 3 / 3;
  }

  .content__image_5 {
    grid-column: 2 / 4;
    grid-row: 4 / 5;
  }

  .content__image {
    object-fit: cover;
  }
}

@media (min-width: 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: baseline;
  }
  
  .header__theme-menu-list {
    flex-direction: row;
    gap: 10px;
  }

.content__section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: var(--desktop-gap);
  }

  .content__section_type_1 {
    grid-template-areas:
    "content-title content content";
  }

  .content__section_type_2 {
    grid-template-areas:
    "content-title . ."
    "content content content";
  }

  .content__section_type_2 > .content__section-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}