/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --basic-background-color: #000028;
  --background-image: url(/images/cover-image-dark.png);
  --accent-color: #FF0070;
  --accent-background-and-shadow-color: #FF0070;
  --hover-frame-color: rgba(255, 0, 112, 0.40);
  --title-color: #DB00FF;
  --text-color: #F1B2CE;
  --text-color-for-accent-bg: #000028;
  --display-header-decoration: block;
  --title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --mob10px-to-tab20px: clamp(0.625rem, 0.029rem + 2.545vw, 1.25rem);
  --mob40px-to-tab60px: clamp(2.5rem, 1.307rem + 5.089vw, 3.75rem);
  --mob50px-to-tab80px: clamp(3.125rem, 1.336rem + 7.634vw, 5rem);
}